@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";


//Font has been updated.
$family-sans-serif: "Helvetica";
$family-primary: $family-sans-serif;





//the colors below can be customized to suit the ShopBro color pallette.
$info: #22F4C0;
$success: #f4bf44;
$danger:#4C0000;
$warning: #313744;
$primary: #ffffff;

// $primary: #BE8AD1;
// $success: #88B56A;
// $info: #70B7D8;
// $warning: #BF9B59;
// $danger: #912D2D;
// $dark: #3F3F3F;

//Please note: the order these 2 utility packs below are imported matters.  Files are read synchronously.
@import "~bulma/sass/utilities/derived-variables";

@import '~bulma/bulma.sass';